@import url(../fonts/TTNormsPro/stylesheet.css);

body {
  font-family: var(--font-TT_Norms_Pro);
  color: var(--text-color);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden; 
}

.hidden {
  display: none;
}
