:root {
  // body
  --text-color: #1f2939;
  --text-paragraph: #676d77;
  --accent: #5243c2;

  // bg
  --bg-accent: #f0f7fa;
  --btn-bg-color: #be2b20;

  //cards
  --border-cards: #f0f7fa;
  --card-btn-color: #f5f5ff;
  --card-text-color: #949ba6;

  // fonts
  --font-TT_Norms_Pro: 'TT Norms Pro', sans-serif;

  //icons color
  --ckal: #f45763;
  --time: #6b56f5;
  --weight: #f58f56;
}

// mixins
