.burger-create {
  flex: 1;

  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;

  height: 100%;
}

.burger-img {
  position: absolute;

  left: 50%;
  transform: translate(-50%);

  overflow-y: visible;
}

.burger-img__bg {
  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: visible;
}

.burger-create__wrapper {
  position: relative;
  min-width: clamp(20rem, 17.125rem + 14.37vw, 34.375rem);
  display: flex;
  justify-content: start;
  align-items: flex-start;

  height: 100%;
  width: 100%;
}
