.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px;
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: right 0.3s ease, opacity 0.3s ease;
  z-index: 3;

  &.open {
    right: 0;
    opacity: 1;
  }
}
.nav-mobile__top {
  margin-top: 50px;
}

.nav-mobile--list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.nav-mobile--item {
  font-size: 25px;
  font-weight: 500;
  line-height: 19.17px;
  text-align: left;
  transition: all 0.1s ease-in;

  &:hover {
    opacity: 76%;
  }

  a {
    color: var(--text-color);
  }
}

.nav-mobile__bot {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.close-mobile-menu {
  position: absolute;
  top: 15px;
  right: 15px;
}
