.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000061;
  backdrop-filter: blur(5px);
  left: 0;
  top: 0;

  transition: all 0.3s ease-in;

  z-index: 10;

  opacity: 0;
  visibility: hidden;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.pup-up_body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  padding: 30px 20px;
}

.pop-up__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;

  position: relative;
  max-width: 1200px;

  height: 600px;
  background: white;
  border-radius: 50px;
  border: 5px solid var(--card-btn-color);

  transition: all 0.3s ease-in;

  opacity: 0;
  transform: translate(0px, -100%);

  &--active {
    opacity: 1;
    transform: translate(0, 0);
  }

  .pop-up__bg {
    position: absolute;
    width: clamp(18.75rem, 16.25rem + 12.5vw, 31.25rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
  }
}

.burger__wrapper--pop-up {
  width: clamp(22.188rem, 20.375rem + 9.06vw, 31.25rem);
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.pop-up__close-btn {
  position: absolute;
  right: 30px;
  top: -10px;
  font-size: 90px;
  color: #949ba6;
  transform: rotate(45deg);
  transition: all 0.1s ease-in;

  &:hover {
    opacity: 80%;
  }
}

.pop-up__title {
  position: relative;
  z-index: 2;

  max-width: 800px;

  font-size: clamp(2.125rem, 1.863rem + 1.31vw, 3.438rem);
  font-weight: 500;
  line-height: clamp(2.5rem, 2.125rem + 1.88vw, 4.375rem);
  text-align: center;
}
