.price {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;
  bottom: 205px;

  min-width: 116px;
  padding: 0 20px;
  height: 67px;
  border-radius: 99px;
  background: var(--accent);
  color: white;

  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 43.13px;
  text-align: right;

  z-index: 3;
}
