.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  transition: all 0.1s ease-in;
  opacity: 0;

  position: absolute;
  right: 10%;
  top: -10%;

  gap: 8px;
  width: 216px;
  height: 53px;
  border-radius: 99px;
  background: white;

  font-size: 18px;
  font-weight: 400;
  line-height: 21.56px;
  text-align: left;

  z-index: 2;

  box-shadow: 17px 14px 45px -16px rgba(0, 0, 0, 0.75);

  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: 27px;
    width: 12px;
    height: 12px;
    background: white;
    transform: rotate(225deg);
  }

  &--open {
    opacity: 1;
  }
}
